.form {
    display: flex;
    color: var(--tg-theme-text-color);
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: var(--tg-theme-bg-color);
}

.input {
    width: 100%;
    padding: 10px;
    color: black;
    background-color: var(--tg-theme-secondary-bg-color);
    margin-top: 0px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

.postlist{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.maintext{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    /*margin-top: 30px;*/
}