.form {
    padding: 14vw 5vw 10vw 5vw;
    display: flex;
    color: var(--tg-theme-text-color);
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: var(--tg-theme-bg-color);
}

.input {
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
    margin-top: 15px;
    -webkit-appearance: none;
    border: 1px solid black;
}

.select{
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;

    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    background-image: url("down-arrow.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 5%;
    background-origin: content-box;


}

/*.input > select{*/
/*    color: #1c800b;*/
/*}*/

/*.select {*/
/*    padding: 10px;*/
/*    margin-top: 15px;*/
/*}*/


.shopping_cart {
    color: var(--tg-theme-text-color);
    border-radius: 3px;
    overflow-y: auto;
    background: var(--tg-theme-secondary-bg-color);
    margin-top: 15px;
    height: 200px ;
}

.makeOrder{
    margin-top: 10vw;
    background: rgba(215, 125, 72, 1);
    color: var(--tg-theme-text-color);
    font-family: 'Montserrat';
    font-weight: bold;
    width: 100%;
    padding: 3vw;
    border-radius: 10px;
    border: None;
}

.topay{
    font-weight: bold;
    text-align: center;
    margin-top: 5vw;
    color: rgba(19, 189, 50, 1)
}
.fakeblock{
    padding-top: 450px;
}
.button{
    background: rgba(215, 125, 72, 1);
    color: var(--tg-theme-text-color);
    font-family: 'Montserrat';
    font-weight: bold;
    width: 90%;
    margin: 5%;
    padding: 3vw;
    border-radius: 10px;
    border: None;
}