.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}


.shopping_cart {
    border-radius: 3px;
    overflow-y: auto;
    background: var(--tg-theme-secondary-bg-color);
    margin-top: 15px;
    height: 200px ;
}