

.shoppingCart{
    color: var(--tg-theme-text-color);
    display: flex;
    font-size: 3vw;
    margin: 5%;
    border-radius: 10px;
    background: var(--tg-theme-secondary-bg-color);
    padding: 3%;
    width: 90%;
    height: 90%;
}

.shoppingCart  img{

    border-radius: 10px;
    width: 40%;
    height: 40%;

}


.info{
    margin-left: 3%;
}

.maintext{
    margin: 0% 3% 3% 0%;
}

.price{
    font-weight: bold;
    margin-bottom:3%;}


.counter{

    display: inline-flex;
    font-weight: bold;
    background: none;
    border: solid;
    border-radius: 1vw;
    border-width: 0.15vw;
    margin-bottom: 1vw;
}

.counter span{
    padding: 0.1vw 3vw 0.1vw 3vw;
    border-left:0.1vw solid ;
    border-right:0.1vw solid ;

}

.counter button{
    font-size: 3vw;
    background: none;
    border: none;
    font-weight: bold;
    padding: 0.1vw 1vw 0.1vw 1vw;
}

.finalprice{
    font-size: 4vw;
    font-weight: bold;
    color: rgba(19, 189, 50, 1)
}

.finaltext{
    color:var(--tg-theme-text-color);
    font-size: 3vw;
}