.post{
    color: var(--tg-theme-text-color);
    font-family: 'Montserrat';
    font-weight: inherit;
    margin-top: 11px;
    padding: 11px;
    background-color: var(--tg-theme-secondary-bg-color);
    width: 170px;
    height: 279px;
    border-radius: 10px;
    /*border: 1px solid var(--tg-theme-text-color);*/
}

.title{
    color: black;
    overflow-x:hidden;
    font-size: 13px;
    width: 150px;
    height: 30px;
}
.cost{
    color: var(--tg-theme-text-color);
    line-height: 30px;
    overflow-x:hidden;
    font-size: 13px;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

.post>  img{

    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 3px;
}


.post > button {
    color: var(--tg-theme-text-color);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    background: rgba(215, 125, 72, 1);
    width: 150px;
    height: 30px;
    border: 2px solid rgba(215, 125, 72, 1);
}